<h1>Job Tracker Dashboard</h1>

<a asp-controller="Email"
   asp-action="ImportEmails"
   class="btn btn-primary">

    Import Emails

</a>

<br/><br/>

<a asp-controller="Applications"
   asp-action="Index"
   class="btn btn-secondary">

    View Applications

</a>